.footer-clean {
  width: 100%;
  padding: 50px 0;
  background-color: #333;
  color: #ffd700;
}

.footer-clean .container {
  display: flex;
  flex-wrap: wrap;
}

.footer-clean .col-md-3 {
  width: 25%;
  padding: 0 15px;
}

.footer-clean .footer__logo {
  width: 25%;
}

.footer-clean .heading {
  color: #e9e9e9;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-clean ul {
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
  color: #008080;
}

.footer-clean .item.social {
  padding-right: 50px;
  text-align: right;
}

@media only screen and (max-width: 767px) {
  .footer-clean .col-md-3 {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;
    text-align: center; /* Center align the content */
  }

  .footer-clean .item.social {
    text-align: center;
    padding-right: 0;
  }

  .footer-clean .footer__logo {
    width: 100%;
    text-align: center;
  }

  .footer-clean .item.social > a {
    margin-left: 0;
    margin-top: 10px;
  }
}

.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 50px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
  background-color: #008080;
  border-radius: 90px;
}

.footer-clean .copyright {
  color: #e9e9e9;
  padding-left: 35%;
  padding-top: 2%;
  font-size: 13px;
}
